
.taskForm {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .taskForm input {
    width: 340px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .taskForm button {
    background-color: green;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .taskForm button:hover {
    background-color: darkgreen;
  }
  